<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="RidPhp test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <filter>
        <whitelist>
            <directory>./Service</directory>
            <directory>./Resource</directory>
            <exclude>
                <file>./Service/DictionaryInterface.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>

